div.chat_box
    div.group_chat_label.no_text_select GROUP CHAT
    div.chat_messages
    form.chat_input_form
        div.form-group
            input.chat_input.form-control(type='text' placeholder='Enter your message here')
