div#menu_bar.no_text_select
    div.menu_item.liquid_border(style='order: 0; width: 76px; height: 32px; margin: 4px 8px;')
        div.menu_item_label(style='font-size: 14px; font-weight: bold; text-shadow: 2px 2px #777;')= title
    //div.menu_item(style='order: 0; margin: 0 10px;')
    //    div.menu_item_label(style='font-weight: bold; background-color: #dcdfe5; color: #000; padding: 2px 4px; border-radius: 5px;') PROJECT
    div.menu_item.box(style='order: 1;')
        div.menu_item_label File
    div.menu_item.box(style='order: 2;')
        div.menu_item_label Edit
    div.menu_item.box(style='order: 3;')
        div.menu_item_label Find
    div.menu_item.box(style='order: 4;')
        div.menu_item_label View
    div.menu_item.box(style='order: 5;')
        div.menu_item_label Tools
    div.menu_item.box(style='order: 6;')
        div.menu_item_label Help