html, body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
	color: #00B7FF;
}

/*
Text selection disabling
 */

.no_text_select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
Custom scrollbar
 */

* {
	scrollbar-color: rgba(128, 128, 128, 0.9) rgba(128, 128, 128, 0);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	background: none;
	width: 16px;
	height: 16px;
}
::-webkit-scrollbar-thumb {
	border: solid 0 rgba(0, 0, 0, 0);
	border-right-width: 4px;
	border-left-width: 4px;
	-webkit-border-radius: 9px 4px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-track-piece {
	margin: 4px 0;
}
::-webkit-scrollbar-thumb:horizontal {
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 4px;
	border-bottom-width: 4px;
	-webkit-border-radius: 4px 9px;
}
::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.9), inset 0 0 0 4px rgba(128, 128, 128, 0.9);
}
::-webkit-scrollbar-corner {
	background: transparent;
}

.time_passed {
	color: #999;
	font-size: 0.8em;
	font-style: italic;
}

/*
Border anim for logo
 */

.liquid_border {
	--background_hue_1: #d9534f;
	--background_hue_2: #5bc0de;
	--foreground_color: #f9f9f9;
	background-color: var(--background_hue_1);
	background-image: linear-gradient(19deg, var(--background_hue_1) 0%, var(--background_hue_2) 100%);
	color: var(--foreground_color);
	border-radius: 35% 65% 65% 35% / 35% 35% 65% 65%;
	box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
	animation: morphing 15s infinite;
	overflow: hidden;
}
@keyframes morphing {
	0% {
		border-radius: 35% 65% 65% 35% / 35% 35% 65% 65%;
		box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
	}
	25% {
		border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
	}
	50% {
		border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
		box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
	}
	75% {
		border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
	}
}

/*
Border anim for general use
 */

.box {
	display: block;
	float: left;
	position: relative;
	text-align: center;
	border-collapse: collapse;
	text-decoration: none;
	color: #fff;
	/*margin: 0 10px;*/
}
.box:before {
	transition: all 1.0s;
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	left: 50%;
	margin-left: -50%;
	top: 25%;
	border-color: rgba(200, 200, 200, 0);
	border-style: solid;
	border-width: 0 1px;
}
.box:after {
	transition: all 0.4s;
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	left: 50%;
	margin-left: -25%;
	top: 0;
	border-color: rgba(200, 200, 200, 0);
	border-style: solid;
	border-width: 1px 0;
}
.box:hover {
	color: #4099FF;
}
.box:hover:after {
	width: 100%;
	margin-left: -50%;
	border-color: #5a5a5a;
}
.box:hover:before {
	height: 100%;
	top: 0%;
	border-color: #5a5a5a;
}
