#menu_bar {
	flex: 0 40px; /*flex-basis: 40px;*/

	display: flex;
	flex-flow: row nowrap; /*flex-direction: row; flex-wrap: nowrap;*/

	background-color: #222222;
	color: #dcdfe5;
}
.menu_item {
	display: flex;
	flex-flow: row nowrap; /*flex-direction: row;*/
	/*align-items: center;*/

	padding: 0 12px;
	margin: 5px 0;
}
.menu_item_label {
	margin: auto;
}
