#status_bar {
	flex: 0 20px;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	/*background-color: #222222;*/
	/*color: #dcdfe5;*/
	padding: 0 5px;
	font-size: 0.9em;
}
.status_item {
	margin-right: 25px;
}
